
nav {
  height: 70px;
  background: rgba(37, 113, 133, 0.6);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.mini_header {
  float: right;
  padding: 24px 0px 25px 0px;
}

ul.topnav {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
}

ul.topnav li a:hover {background-color: rgba(37, 113, 133, 0.8);}

ul.topnav .ham-icon {display: none;}


.ham-icon a {
  font-weight: 600;
  color: #fff;
}

.topnav span {
  color: #fff;
  height: 1px;
  width: 20px;
}

@media screen and (max-width:920px) {
  ul.topnav li {display: none;}
  ul.topnav .ham-icon {
    float: left;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 15px;
  }
  nav {
    height: 50px;
  }
  .mini_header {
    padding: 12px 0px 0px 0px;
  }

  .nav-items {
    padding-top: 50px;
    background-color: rgba(37, 113, 133, 0.8);
  }
  .hamburger-slim {
    height: 17px;
  }
  .hamburger-slim:before, .hamburger-slim:after {
    width: 25px !important;
  }
  .hamburger-slim:before {
    box-shadow: #fff 0 7px 0 0;
  }
}

@media screen and (max-width:920px) {
  ul.topnav.responsive {position: absolute;}
  ul.topnav.responsive .ham-icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
  ul.topnav li a {
    padding: 25px 70px;
  }
}

@media screen and (max-width:700px) {
  .mini_header {
    width: 100%;
  }
  ul.topnav,
  ul.topnav.responsive {
    position: absolute;
  }

}


.hamburger-slim {
  background: transparent;
  margin: 0px auto 0px;
  position: relative;
  height: 23px;
  width: 45px;
}
.hamburger-slim:before, .hamburger-slim:after {
  background: #fff;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 0;
  transition: 0.75s;
  width: 30px;
}
.hamburger-slim:before {
  box-shadow: #fff 0 10px 0 0;
  position: absolute;
  top: 0;
}
.hamburger-slim:after {
  position: absolute;
  top: calc(100% - 2px);
}
