@media screen and (max-width: 1370px) {
	.animenu__nav__child li a {
		font-size: 16px;
	}
	.logo img {
		width: 500px;
    	top: 270px;
	}
	.animenu {
    	top: 80px;
	}
	.animenu__nav a {
		font-size: 22px;
	}
	header {
		height: 700px;
	}
}

@media screen and (max-width: 1299px) {
	.contact_element {
		margin-right: 20px;
		margin-left: 20px;
	}
}


@media screen and (max-width: 1250px) {



	header {
		background: url("../img/background_final.jpg") center 0px
		no-repeat;
		background-size: cover;
		background-attachment: scroll;
		height: 560px;
	}
	h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.logo img {
		top: 170px;
	}

	.pravy_orech img {
		padding-right: 15px;
		padding-left: 15px;
	}
	.btr {
		width: 50%;
	}
	.peanut_1, .hazelnut_1 {
		margin-bottom: 0px;
	}
	.grey {
		background-color: #fff;
	}
}

@media screen and (max-width: 1000px) {
	#shops p {
		padding: 0px 5px;
	}
	.home_page h1 {
		font-size: 30px;
		padding: 30px 0px;
		margin: 0px;
	}
}

@media screen and (max-width: 850px) {
	.animenu__nav a {
    	font-size: 23px;
	}
	.animenu__nav > li > a {
 		padding: 0px 32px;
 	}
	.btr {
    	width: 100%;
    	margin-bottom: 10px;
	}
	header {
    	height: 550px;
	}
	.butter_images .container {
    	padding-left: 50px;
   	    padding-right: 50px;
	}
	.grey {
		background-color: #f4f3f2;
	}
}

@media screen and (max-width: 800px) {

	header {
		background: url("../img/background_final_resp.jpg") center 0px
		no-repeat;
	}
	.logo img {
		display: none;
	}
}

@media screen and (max-width: 760px) {

	#shops {
		margin-top: 35px;
	}
	.shop_box {
		width: 45%;
	}
	.logo img {
    	right: 0px;
	}
	.animation-element.slide-left {
		margin-right: 0px;
	}
}

@media screen and (max-width: 660px) {
	  .hvr {
		  display: inline-block;
		  -webkit-transform: none !important;
		  transform: none !important;
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-transition-duration: none !important;
		  transition-duration: none !important;
		}
		.hvr:hover, .hvr:focus, .hvr:active {
		  -webkit-transform: none !important;
		  transform: none !important;
		  -webkit-transition-timing-function: none !important;
		  transition-timing-function: none !important;
		}

		header {
    		height: 529px;
		}
		
}


@media screen and (max-width: 630px) {
	p {
		font-size: 15px;
	}
	header {
		height: 540px;
	}
	.logo img {
		width: 400px;
	}
	h3 {
		font-size: 30px;
	}
	.back-to-top {
		width: 30px;
	}
	.phone_contact {
	    padding-right: 15px;
	}
	.mail_contact {
	    margin-left: 15px;
	}
	.contact_element {
    margin-right: 10px;
	}
	form {
		width: 100%;
		padding: 15px;
	}
	input, textarea, #submit-btn {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {

	.btr img {
	    display: block;
	    margin: 0 auto;
	    padding: 0px;
	    width: 150px;
	}
	.basket {
	    width: 30px !important;
	    padding-top: 15px !important;
	}
	p {
		line-height: 120%;
	}
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.about p {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.back-to-top {
		display: none;
	}
	.go_to_shop {
	background-color: #fff;
	z-index: 2;
	padding: 5px 0px;
	}
	.go_to_shop p {
	font-size: 12px;
	}
	#map {
		height: 350px;
	}
	
	input, textarea {
		background: url(../img/peanut903.png) 160px 55px no-repeat #fff;
	}
	h3 {
		margin-bottom: 10px;
	}
	.btr {
		width: 100%;
	}
	.home_page h1 {
		font-size: 25px;
		padding: 15px 0px;
		margin: 0px;
	}

	.mail_contact {
	    padding-right: 0px;
	    padding-left: 15px;
	    border-left: 1px solid #fff;
	    border-right: none;
	    margin-left: 0px;
	}
	.phone_contact {

	    margin-left: 0px;
	    margin-right: 0px;
	    border-right: none;
	}

	.phomail {
		float: right;
	}
}
	
@media screen and (max-width: 450px) {
	h3 {
		font-size: 25px;
	}
	.butter_images .container {
  	 	 padding-left: 0px;
   		 padding-right: 0px;
	}

	.about,
	.story {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.story p,
	.about p {
		padding-bottom: 0px;
		padding-top: 0px;
		padding-left: 8px;
		padding-right: 8px;
		font-size: 14px;
	}
}

@media screen and (max-width: 400px) {

	header {
		height: 470px;
	}
	.logo img {
		padding: 10px 30px;
		top: 130px;
	}
	.container_video {
		width: 300px;
	}
	.nutrition {
		width: 300px;
		height: 250px;
	}
	.slider ul li {
		width: 300px;
	}
	.slider img {
		width: 300px;
	}
	.slider ul li {
		width: 300px;
	}
	.slider > img {
		width: 180px;
		height: 180px;
	}
	.slider {
		width: 180px;
		height: 180px;
	}
	.left_arrow, .right_arrow {
		top: 75px;
	}
	.left_arrow img, 
	.right_arrow img {
		height: 30px;
		width: 30px;
	}
	.shop_box {
		margin-bottom: 5px;
	}

	.shop_box img {
		width: 120px;
	}

}

@media screen and (max-width: 350px) {

	.mini_header p {
		font-size: 11px;
	}

	.about_butter p::after {
   		 top: 315px;
	}
	h3 {
		font-size: 18px;
	}
	.butter_h1 {
	    font-size: 23px;
	}
}