
@media screen and (max-width: 1299px) {
	.half {
		width: 100%;
	}
	.block4,
	.block6 {
		padding-bottom: 0px
	}
	.block5 {
		height: auto;
	}
	.page-id-1 .about_butter {
		margin-top: 0px;
	}

	.page-id-1 .logo {
	    margin-left: 20px;
	}
	.description {
		width: 70%;
		display: block;
		margin: 0 auto;
		padding-top: 20px;
	}
	.page-id-1 .animenu ul {
	    margin-right: 20px;
	}

	.btr {
		width: 50%;
	}	    
	.banner {
		text-align: center;
	}
	.banner-img {
		left: 0px;
		padding-bottom: 20px;
	}
	.banner-sales {
		padding: 30px 10px 30px 10px;
		text-align: center;
	}
	.klikaj {
		left: 0px;
	}
	.first-banner-block, .second-banner-block {
	    display: block;
	}
}

@media screen and (max-width: 1000px) {
	.yt iframe {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 800px) {
	.description {
		width: 90%;
	}
	.head_image {
		padding-top: 30px;
		padding-bottom: 0px;
	}
	.slovakia_icon {
		top: 35px;
	}
	.page-id-1 .animenu__nav > li > a {
   		padding: 5px 10px;
	}
	.page-id-1 .animenu a {
		font-size: 18px;
	}
	.btr {
		width: 100%;
	}
}

@media screen and (max-width: 660px) {

	.page-id-1 header {
	    height: 240px;
	}

	/*.page-id-1 .float_l,
	.page-id-1 .float_r {
		float: none;
	}*/
	  .page-id-1 .logo {
	  	margin-left: 0px;
	  	display: block;
	  }
	  .page-id-1 .logo img {
	  	display: block;
	  }


	.block1, .block2, .block3, .block4, 
	.block5, .block6, .block7, .block8, 
	.left_side {
	    max-height: none;
	}

	  .animenu a {
		  color: #fff;
		  text-decoration: none;
		  font-size: 15px;
	  }
	  .animenu__toggle {
	    display: inline-block;
	    margin-top: 9px;
	  }

	  .animenu__nav li a:nth-child(0) {
	  	display: none;
	  }

	  .animenu__nav,
	  .animenu__nav__child {
	    display: none;
	  }

	  .animenu__nav {
	    margin: 2px 0px 0px 0px;
	  }
	  .animenu__nav > li {
	    width: 100%;
	    border-right: 0;
	    border-bottom: 1px solid #fff;
	    background: #C6874B;
	  }
	  .animenu__nav > li:last-child {
	    border: 0;
	  }
	  .animenu__nav > li:first-child > a:after {
	    content: '';
	    position: absolute;
	    height: 0;
	    width: 0;
	    left: 1em;
	    top: -6px;
	    border: 6px solid transparent;
	    border-top: 0;
	    border-bottom-color: inherit;
	  }
	  .animenu__nav > li > a {
	    width: 100%;
	    padding: 10px;
	    border-color: #fff;
	    position: relative;
	  }
	  .animenu__nav a:hover {
	    background-color: #9e7955;
	    border-color: #fff;
	    color: #fff;
	  }

	  .animenu__nav__child {
	    position: static;
	    background-color: #373737;
	    margin: 0;
	    -webkit-transition: none;
	    transition: none;
	    visibility: visible;
	    opacity: 1;
	  }
	  .animenu__nav__child > li:first-child > a:after {
	    content: none;
	  }
	  .animenu__nav__child li a {
	    padding-left: 20px;
	    width: 100%;
	    font-size: 14px;
	  }
	  .animenu__nav--open {
	    display: block !important;
	  }
	  .animenu__nav--open .animenu__nav__child {
	    display: block;
	  }
	  .hvr {
		  display: inline-block;
		  -webkit-transform: none !important;
		  transform: none !important;
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-transition-duration: none !important;
		  transition-duration: none !important;
		}
	  .hvr:hover, .hvr:focus, .hvr:active {
		  -webkit-transform: none !important;
		  transform: none !important;
		  -webkit-transition-timing-function: none !important;
		  transition-timing-function: none !important;
		}
	  .animenu__nav > li:hover {
    		background-color: rgba(155, 108, 64, 1);
		}
	  .page-id-1 .animenu {
		    top: 13px !important;
		    width: 100%;
		}
	  .animenu__nav--open li a {
	  		font-size: 14px;
	  }
	  .animenu__toggle {
	    margin-top: 10px !important;;
	}


}

@media screen and (max-width: 600px) { 
	.head_image {
		width: 340px;
	}
	.yt iframe {
		height: 300px;
	}
}

@media screen and (max-width: 530px) { 
	.contact_element {
		margin-left: 0px;
	}

	.contact_element img {
		width: 18px;
		height: 18px;
	}

@media screen and (max-width: 400px) { 
	.description {
		padding: 0px 0px 30px 0px;
	}
	.head_image {
	    width: 270px;
	}
	.natural_icon {
	    top: 85px;
	}
}
