html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #000;
	background: #fff;
	font-size: 100%;
	font-family: 'Nunito', sans-serif;	
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.clear:before,
.wrapper:before,
.container:before,
.group:before,
.clear:after,
.wrapper:after,
.container:after,
.group:after,
 {
	content: " ";
	display: table;
}

.clear:after,
.wrapper:after,
.container:after,
.group:after,
 {
	clear: both;
}

.clear,
.wrapper,
.container,
.group,
 {
	*zoom: 1;
}

a {
	text-decoration: none;
}


/*** MINI HEADER ***/



.mail_contact {
	margin-left: 30px;
}

.mini_header p {
	color: #fff;
    margin: 0px;
    padding: 0px;
    top: 0px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}

.float_l {
	float: left;
}
.float_r {
    float: right;
}

.social img:hover {
	opacity: .7;
}

.phone_contact {
	padding-right: 30px;
    border-right: 1px solid #fff;
}


/*** HEADER ***/

header {
	background: url("../img/background_final.jpg") center 0px
	no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
	padding: 0px 0px;
	clear: both;
}

.butter-section header {
	background: url("../img/background_final.jpg") center 0px
	no-repeat;
	background-size: cover;
	width: 100%;
	height: 240px;
	padding: 0px 0px;
	clear: both;
}

.logo {
	clear: both;
}

.logo img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 320px;
}

/*** NAVIGATION ***/


/*** IMAGES LINKS***/

.btr {
	width: 25%;
	padding-top: 30px;
	-webkit-transition: -webkit-transform 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-align: center;
    padding-bottom: 30px;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.btr img {
	display: block;
	margin: 0 auto;
	padding: 20px;
}

.btr p {
	color: #989BAF;
	margin-bottom: 0px;
	padding: 15px;
	font-weight: 400;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	border-bottom: 1px solid #989BAF;
	display: inline-block;
	text-align: center;
}

.butter {
	max-width: 1300px;
	display: block;
	margin: 0 auto;
}

.grey {
	background-color: #f4f3f2;
}

.white {
	background-color: #fff;
}

.center-text-align {
	text-align: center;
}

.want_more {
	text-align: center;
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background: #f4f3f2;
}

.want_more a {
	border-radius: 3px;
	padding: 15px 15px;
	color: #504f4f;
	font-size: 21px;
}

/*** ABOUT ***/

.container {
	max-width: 1300px;
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #504f4f;
	text-align: center;
}

.home_page h1 {
	font-size: 30px;
	padding: 50px 0px;
	margin: 0px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #504f4f;
	text-align: center;
	margin: 0px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #1d1d1d;
	text-align: center;
	line-height: 154%;
}

.mini_text {
	line-height: 100% !important;
}
.home_page p {
	line-height: 230%;
}

.about,
.butter_images {
	width: 100%;
}

.about p {
	padding-right: 20px;
	padding-left: 20px;
	margin: 0px;
}

.pravy_orech img {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.about {
	background: url("../img/back_about.png") center 0px;
	padding: 0px 0px 30px 0px;
	background-attachment: fixed;
}

.story {
	background: url("../img/back_story.png") center 0px;
	padding: 0px 0px 30px 0px;
	background-attachment: fixed;
}



/*** MAPS ***/


#map {
	border-top: 1px solid #979696;
	border-bottom: 1px solid #979696;
	width: 100%;
	height: 520px;
}
.maps_viac {
	display: block;
	margin: 0 auto;
	width: 100%;
}

#maps {
	padding: 10px 0px 0px 0px;
}

/*** ESHOPY ***/

.shops {
	text-align:center;
    display:inline-block;
    width:100%;
    height: auto;
    margin: 20px 0px;
}

.shop_box {
	margin: 5px;
    width: 35%;
    text-align: center;
    border: 1px solid #dedede;
    display:inline-block; 
    z-index: 1;
    -webkit-transition-duration: 0.5s;
  	transition-duration: 0.5s;
}



.shop_box:hover {
	box-shadow: 0px 3px 3px #989898;
}

.go_to_shop {
	background-color: #fff;
	z-index: 2;
	padding: 10px 0px;
	transition-duration: 1.5s;
}
.go_to_shop p {
	margin: 0px;
	color: #fff;
	font-size: 15px;
	transition-duration: 1.5s;
}

.shop_box a .go_to_shop p {
	visibility: hidden;
}

.shop_box:hover a .go_to_shop {
	visibility: visible;
	background-color: #636363;
}
.shop_box:hover a .go_to_shop p {
	visibility: visible;
}

.hvr {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr:hover, .hvr:focus, .hvr:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*** CONTACT FORM ***/

#contact_form {
	background: url("../img/back_story.png") center 0px;
	padding-bottom: 30px;
	display: block;
	margin: 0 auto;
}

#contact_form h2 {
	color: #515151;
	font-family: 'Open Sans', Arial, Helvetica;
	font-size: 21px;
	padding-bottom: 25px;
}

form {
	width:550px;
	margin:0 auto;
}


input, textarea {
	width:550px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	background:#fff;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #808080;
	margin-top:3px;
	font-size:1.1em;
	color:#3a3a3a;
}

input:focus, textarea:focus {
		border:2px solid #97d6eb;
	}

textarea {
	height:200px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../img/peanut903.png) 300px 55px no-repeat #fff;
}

#submit-btn {
	background: #257185;
	width: 550px;
	height: 55px;
	border:none;
	display: block;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	cursor:pointer;
	color: #fff;
	font-weight: 600;
	font-family: 'Open Sans', Arial, Helvetica;
}

#submit-btn:hover {
	opacity:0.9;
}


/*** FOOTER ***/

footer {
	height: 300px;
	width: 100%;
	clear: both;
}

footer p {
	position: relative;
	top: 150px;
	text-align: center;
	color: grey;
}


/*** BACK TO TOP***/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10;
    display: block;
    opacity: .80;
}

.back-to-top:hover,
.back-to-top:focus {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}


/*** PODSTRANKY MASLA ***/

.white {
	background-color: #fff;
}

.grey {
	background-color: #F4F3F2;
}

.half {
	width: 50%;
}

.butter {
	height: 800px;
}

.head_image {
	display: block;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	width: 400px;
	padding-top: 70px;
	padding-bottom: 59px;
}

/**** TABLE ****/

.butter_h1 {
	font-size: 28px;
}

table, td, th {
    border-collapse: collapse;
    color: #988f85;
}
table {
	border-spacing: 0;
	text-align: center;
}

.prodTabTitle {
	padding: 10px 46px;
	font-weight: 400;
	font-style: normal;
}

tr {
	font-style: italic;
}

th, tr {
    border: 1px solid #ddd;
}

td:nth-of-type(2n+1) {
    border-right: 1px solid #ddd;
}

td {
	padding: 10px;
	font-family: Georgia;
	width: 50%;
}

.right_side {
	padding: 50px 0px;
	max-height: 600px;
}

.left_side {
	max-height: 600px;
}

.butter .centerBox {
	margin: 0 auto;
	display: block;
	max-width: 320px;
}

.centerBox img {
	padding-bottom: 20px;
	display: block;
	margin: 0 auto;
}


.page-id-1 .logo img {
	width: 260px;
	top: 100px;
	display: block;
	margin: 0 auto;
}

.page-id-1 .zlozenie  {
	margin-top: 30px;
	font-size: 15px;
	color: #988f85;
}

.natural_icon {
	text-align: center;
	position: relative;
	top: -5px;
}

.slovakia_icon {
	text-align: center;
	position: relative;
}

.slovakia_icon img {
	z-index: 99;
}

/*** DESCRIPTION ***/

.description {
	text-align: left;
	padding: 0px 30px 30px 30px;
	font-size: 15px;
}

.descript {
	padding-top: 0px;
}


/*** IMAGE RIGHT SIDE ***/

.image_right {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

.image_heart,
.image_heart2 {
	display: block;
	margin: 0 auto;
	padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}



/*** BLOCK HEIGHT ***/

.block3 {
	max-height: 840px;
}
.block4 {
	max-height: 800px;
}

.block4 {
	padding-bottom: 108px;
}

.block5 {
	height: 600px;
}

.block6 {
	padding-top: 0px;
}


/*** BANNER ***/

.banner {
	width: 100%;
	clear: both;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9c6642+1,160000+100 */
background: rgb(156,102,66); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(156,102,66,1) 1%, rgba(22,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(156,102,66,1) 1%,rgba(22,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(156,102,66,1) 1%,rgba(22,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c6642', endColorstr='#160000',GradientType=1 ); /* IE6-9 */


}

.banner-sales {
	color: #fff;
	padding: 35px 30px 47px 80px;
	margin: 0px;
	text-align: left;
	display: inline-block;
}

.klikaj {
	text-align: right;
	color: #fff;
	margin: 0px;
	font-size: 22px;
	font-family: 'Nunito', sans-serif;	
	display: inline-block;
	position: relative;
	left: 120px;
}

.banner-img {
	position: relative;
	left: 135px;
}

.first-banner-block,
.second-banner-block {
	display: inline-block;
}

/*** VIDEO ***/

.yt {
	padding-top: 50px;
	clear: both;
}

.yt iframe {
	display: block;
	margin: 0 auto;
}

.page-id-1 .butter_images {
	margin-top: 70px;
}

.page-id-1 .butter_images h1 {
	margin-bottom: 25px;
}

/**** MORE BUTTERS ****/

.basket {
	width: 80px !important;
	padding-top: 15px;
}

/*** VIAC MASIEL KATEGORIE ***/

.more_category {
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

.filter {
	text-align: center;
	padding-bottom: 60px;
}

.filter-item {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	background-color: grey;
	color: #fff;
	text-align: center;
}

.all-item {
	background-color: #6f918c;
}


/*** TYPE ***/

