@media screen and (max-width: 1800px) {
	header {
		height: 660px;
	}
	.animenu {
    	top: 110px;
	}
	.logo img {
		top: 50px;
	}
}

@media screen and (max-width: 1550px) {
	.animenu {
    	top: 10px;
	}
	header {
		height: 558px;
	}
	.logo img {
		top: 10px;
		}
	p {
		font-size: 18px;
	}
	h1 {
		font-size: 
	}
	.about p {
		margin-top: 50px;
		margin-bottom: 70px;
	}
	.animenu__nav {
		margin-top: 0px;
	}
}

@media screen and (max-width: 1370px) {
	.animenu__nav__child li a {
		font-size: 16px;
	}
	.logo img {
		width: 550px;
		height: 412px;
    	top: 20px;
	}
	.animenu {
    	top: 50px;
	}
	.animenu__nav a {
		font-size: 22px;
	}
	header {
		height: 520px;
	}
	h1 {
		font-size: 42px;
	}
}

@media screen and (max-width: 1300px) {
	header {
		background: url("../img/background.jpg") center -130px
		no-repeat;
		background-size: cover;
	}
}

@media screen and (max-width: 1250px) {
	header {
		background: url("../img/background.jpg") center 0px
		no-repeat;
		background-size: cover;
		background-attachment: scroll;
		height: 530px;
	}
	.about h1 {
    margin-top: 30px;
	}

	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 20px;
	}
	p {
		padding-right: 10px;
		padding-left: 10px;
	}
	.about_butter p::after {
		top: 265px;
	}
}

@media screen and (max-width: 1020px) {
	.pravy_orech img {
		padding-right: 15px;
		padding-left: 15px;
	}
	.nutrition,
	iframe {
		margin-right: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.container_video {
		width: 70%;
		display: block;
		margin: 0 auto;
}
	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
	}
	.videoWrapper iframe {
		float: none;
		margin-top: 40px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.about_butter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
		width: 100%;
		padding-right: 50px;
		padding-left: 50px;
	}
	.about_butter_more {
		padding-right: 50px;
		padding-left: 50px;
	}
	.about_butter p::after {
    top: 60px;
	}
}

@media screen and (max-width: 944px) {
	.about_butter p::after {
    top: 120px;
	}
}

@media screen and (max-width: 830px) {
	.nutrition {
		float: none;
		height: 250px;
		margin: 30px auto 0px auto;
		display: block;
	}
	.wrapper {
		margin: 0 auto;
		display: block;
		padding-right: 10px;
		padding-left: 10px;
	}
	.animenu__nav > li > a {
    	padding: 5px 40px;
	}
	.nutrition {
		height: 280px;
	}
	.animenu__nav a {
    	font-size: 23px;
	}
	.animenu__nav > li > a {
 		padding: 0px 32px;
	}
	#map {
		height: 420px;
	}
}

@media screen and (max-width: 760px) {
	.about_butter p::after {
    	top: 255px;
	}
	#maps h1 {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	#shops {
		margin-top: 35px;
	}
	.shop_box {
		width: 45%;
	}
	.about_butter,
	.about_butter_more {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 660px) {
	  .animenu {
	    top: 68px;
		}
	  .animenu a {
		  color: #fff;
		  text-decoration: none;
		  font-size: 15px;
	  }
	  .animenu__toggle {
	    display: inline-block;
	    margin-top: 9px;
	  }

	  .animenu__nav,
	  .animenu__nav__child {
	    display: none;
	  }

	  .animenu__nav {
	    margin: 10px 0;
	  }
	  .animenu__nav > li {
	    width: 100%;
	    border-right: 0;
	    border-bottom: 1px solid #fff;
	    background: #6D4E31;
	  }
	  .animenu__nav > li:last-child {
	    border: 0;
	  }
	  .animenu__nav > li:first-child > a:after {
	    content: '';
	    position: absolute;
	    height: 0;
	    width: 0;
	    left: 1em;
	    top: -6px;
	    border: 6px solid transparent;
	    border-top: 0;
	    border-bottom-color: inherit;
	  }
	  .animenu__nav > li > a {
	    width: 100%;
	    padding: 10px;
	    border-color: #fff;
	    position: relative;
	  }
	  .animenu__nav a:hover {
	    background-color: #9e7955;
	    border-color: #fff;
	    color: #fff;
	  }

	  .animenu__nav__child {
	    position: static;
	    background-color: #373737;
	    margin: 0;
	    -webkit-transition: none;
	    transition: none;
	    visibility: visible;
	    opacity: 1;
	  }
	  .animenu__nav__child > li:first-child > a:after {
	    content: none;
	  }
	  .animenu__nav__child a {
	    padding-left: 20px;
	    width: 100%;
	  }
	  .animenu__nav--open {
	    display: block !important;
	  }
	  .animenu__nav--open .animenu__nav__child {
	    display: block;
	  }
	  .hvr {
	  	-webkit-backface-visibility: visible;
  		backface-visibility: visible;
	  }
	  .hvr:hover, .hvr:focus, .hvr:active {
	  	-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition-timing-function: cubic-bezier(0, 0, 0, 0);
		transition-timing-function: cubic-bezier(0, 0, 0, 0);
	  }
	  .animenu__nav > li:hover {
    	background-color: rgba(155, 108, 64, 1);
}
}


@media screen and (max-width: 630px) {
	p {
		font-size: 15px;
	}
	header {
		height: 400px;
	}
	.logo img {
		width: 400px;
		height: 300px;
	}
	.container_video {
		width: 85%;
	}
	.animenu__toggle {
		margin-top: 20px;
	}
	h3 {
		font-size: 30px;
	}
	.animenu {
    	top: 40px;
	}
}

@media screen and (max-width: 500px) {
	p {
		line-height: 120%;
	}
	.about_butter p {
		font-size: 14px;
	}
	.about_butter_more p {
		font-size: 14px;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.about p {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.slider {
	    width: 200px;
	    height: 200px;
	}
	.slider > img {
	    width: 200px;
	    height: 200px;
	}
	.wrapper {
		width: 320px;
	}
	.left_arrow,
	.right_arrow {
		top: 75px;
	}
	.about_butter,
	.about_butter_more {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.back-to-top {
		display: none;
	}
	.know_more h5 {
		font-size: 17px;
	}
	.know_more img {
		width: 35px;
		height: 35px;
	}
	.back-to-top img {
		width: 35px;
		height: 35px;
	}

	.go_to_shop {
	background-color: #fff;
	z-index: 2;
	padding: 5px 0px;
	}
	.go_to_shop p {
	font-size: 12px;
	}
	#map {
		height: 350px;
	}
	form {
		width: 350px;
	}
	input, textarea {
		width: 350px;
	}

}

@media screen and (max-width: 400px) {
	header {
		height: 350px;
	}
	.logo img {
		width: 350px;
		height: 250px;
	}
	.nutrition {
		width: 280px;
	}
	.slider > img {
		width: 180px;
		height: 180px;
	}
	.slider {
		width: 180px;
		height: 180px;
	}
	.left_arrow, .right_arrow {
		top: 75px;
	}
	.left_arrow img, 
	.right_arrow img {
		height: 30px;
		width: 30px;
	}
	.nutrition {
    	height: 210px;
	}
	.nutrition li {
		font-size: 14px;
	}
	.nutrition h1 {
		line-height: 30%;
		font-size: 14px;
	}
	form {
		width: 270px;
	}
	input, textarea {
		width: 270px;
	}
	textarea {
	background: url(../img/peanut903.png) 120px 55px no-repeat #fff;
	}
}

@media screen and (max-width: 350px) {
	.slider > img {
		width: 150px;
		height: 150px;
	}
	.slider {
		width: 150px;
		height: 150px;
	}
	.left_arrow img, 
	.right_arrow img {
		height: 20px;
		width: 20px;
	}
	.left_arrow, .right_arrow {
		top: 65px;
	}
	.wrapper {
		width: 250px;
	}
	.about_butter p::after {
   		 top: 315px;
	}
	.wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}
}