html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #000;
	background: #fff;
	font-size: 100%;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.nutrition:before,
.wrapper:before,
.container:before,
.group:before,
.nutrition:after,
.wrapper:after,
.container:after,
.group:after,
 {
	content: " ";
	display: table;
}

.nutrition:after,
.wrapper:after,
.container:after,
.group:after,
 {
	clear: both;
}

.nutrition,
.wrapper,
.container,
.group,
 {
	*zoom: 1;
}

a {
	text-decoration: none;
}

/*** HEADER ***/

header {
	background: url("../img/background.jpg") center -200px
	no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	width: 100%;
	height: 800px;
	padding: 0px 0px;
}

.logo img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 130px;
}

/*** NAVIGATION ***/

.animenu__toggle {
  display: none;
  cursor: pointer;
  background-color: #6b4d30;
  border: 0;
  padding: 10px;
  height: 40px;
  width: 100%;
  opacity: .7;
}
.animenu__toggle:hover {
  background-color: #9e7955;
}

.animenu__toggle__bar {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
  transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
}
.animenu__toggle__bar + .animenu__toggle__bar {
  margin-top: 4px;
}

.animenu__toggle--active .animenu__toggle__bar {
  margin: 0 auto;
  position: absolute;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(2) {
  opacity: 0;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.animenu {
  display: block;
  position: relative;
  top: 250px;
}
.animenu ul {
  padding: 0;
  list-style: none;
  font: 0px 'Open Sans', Arial, Helvetica;
  text-align: center;
}
.animenu li, .animenu a {
  display: inline-block;
  font-size: 15px;
  text-align: center;
}
.animenu a {
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
}
.animenu a:hover {
	opacity: .8;
}

.animenu__nav > li {
  position: relative;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.animenu__nav > li:hover  {
	background-color: rgba(155, 108, 64, 0.2);
	}
.animenu__nav > li:nth-child(4) {
	margin-right: 0px;
}
.animenu__nav > li > a {
  padding: 5px 50px;
  text-shadow: 2px 1px 1px rgb(24, 29, 32);
}
.animenu__nav > li > a:first-child:nth-last-child(2):before {
  position: absolute;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}
.animenu__nav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
.animenu__nav > li:hover > a {
  color: #fff;
}

.animenu__nav__child {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 20px 0 0 0;
  background-color: #603a18;
  -webkit-transition: margin .15s, opacity .15s;
  transition: margin .15s, opacity .15s;
}
.animenu__nav__child > li {
  width: 100%;
  border-bottom: 1px solid #fff;
}
.animenu__nav__child > li:first-child > a:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: 1em;
  top: -6px;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom-color: inherit;
}
.animenu__nav__child > li:last-child {
  border: 0;
}
.animenu__nav__child a {
  padding: 10px;
  width: 100%;
  background-color: #725437;
  border-color: #6B4D30;
  font-size: 17px;
}
.animenu__nav__child a:hover {
  background-color: #6B4D30;
  border-color: #6B4D30;
  color: #fff;
}

/*** ABOUT ***/

.container {
	max-width: 1000px;
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: #8d6c48;
	text-align: center;
}

h2 {
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #8d6c48;
	text-align: center;
}

p {
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #624b34;
	text-align: center;
	line-height: 150%;
}

.about h1 {
	margin-top: 50px;
}

.about p {
	margin-top: 50px;
	margin-bottom: 70px;
}

.pravy_orech img {
	display: block;
	margin: 0 auto;
}

/*** POMLELI SME***/

/*.circle {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.c_peanut {
	background-color: grey;
}
*/


/*** MASLA ***/

/*** SLIDER ***/

#peanut { background: #9a625e; }
#walnut { background: #93bac7; }
#almond { background: #a1bf9a; }

#peanut .nutrition { background: #854a47; }
#walnut .nutrition { background: #4a7c8c; }
#almond .nutrition { background: #67945d; }


.butter {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

h3 {
	font-size: 35px;
	color: #fff;
	text-align: center;
	margin-top: 15px;
}

.slider {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}

.slider > img {
	width: 300px;
	height: 300px;
	float: left;
	/*display: none;*/
}

.wrapper {
	width: 450px;
	position: relative;
	padding-left: 10px;
}

.left_arrow {
	position: absolute;
	top: 130px;
}

.right_arrow {
	position: absolute;
	right: 0px;
	top: 130px;
}

/*** NUTRICNE HODNOTY ***/

.nutrition h1 {
	color: #fff;
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
	line-height: 140%;
	margin: 0px;
	padding: 10px 0px;
}

.nutrition {
	float: right;
	width: 350px;
	height: 100%;
	margin-top: -280px;
	box-shadow: 0px 1px 6px;
}

.nut_list {
	padding: 0px 15px;
	float: left;
}

.gram_list {
	float: right;
	padding: 0px 15px;
	text-align: right;
}

.nutrition li {
	list-style: none;
	text-decoration: none;
	color: #fff;
}

#peanut .nutrition h1 { background: #633331; }
#walnut .nutrition h1 { background: #33606F; }
#almond .nutrition h1 { background: #4D7743; }


/*** ABOUT BUTTER ***/

.about_butter {
	width: 450px;
	margin-top: 50px;
	padding-left: 10px;
}
.about_butter_more {
	padding-left: 10px
}

.about_butter p,
.about_butter_more p  {
	color: #231e1e;
	font-size: 16px;
	text-align: left;
	position:relative;
	overflow:hidden;
}

.about_butter p:after {
	height: 110px;
	width: 100%;
	content:"";
    position:absolute;
    top:230px;
    left:0;
}
.about_butter p.special:after {
	visibility: hidden;
}
#peanut .about_butter p:after { 
	background: -webkit-linear-gradient(#fff, #9A625E);
    background: -webkit-linear-gradient(rgba(0,0,0,0), #9A625E);
    background: linear-gradient(rgba(0,0,0,0), #9A625E); 
}
#walnut .about_butter p:after { 
	background: -webkit-linear-gradient(#fff, #93BAC7);
    background: -webkit-linear-gradient(rgba(0,0,0,0), #93BAC7);
    background: linear-gradient(rgba(0,0,0,0), #93BAC7); 
}
#almond .about_butter p:after { 
	background: -webkit-linear-gradient(#fff, #A1BF9A);
    background: -webkit-linear-gradient(rgba(0,0,0,0), #A1BF9A);
    background: linear-gradient(rgba(0,0,0,0), #A1BF9A);
}

iframe {
	float: right;
	margin-top: 56px;
}

.know_more {
	margin-top: 40px;
}

.know_more h5 {
	color: #2b2828;
	font-size: 20px;
	text-align: center;
	margin-bottom: 14px;
}

.know_more a,
.know_more img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.hideme {
	opacity: 0;
}


/***ABOUT BUTTER MORE ***/

.about_butter_more {
	width: 100%;
	height: 100%;
}

.know_more img{
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.rotate{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*** MAPS ***/

#maps h1 {
	color: #504f4f;
	margin: 0px 0px;
	padding-top: 100px;
	padding-bottom: 50px;
}

#map {
	border-top: 1px solid #979696;
	border-bottom: 1px solid #979696;
	width: 100%;
	height: 520px;
}
.maps_viac {
	display: block;
	margin: 0 auto;
	background: url("../img/search_bg.jpg") center 0px
	no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 200x;
}


/*** ESHOPY ***/

#shops {
	height: auto;
	margin-top: 80px;
}

.shops {
	text-align:center;
    display:inline-block;
    width:100%;
    height: auto;
    margin: 20px 0px;
}

.shop_box {
	margin: 5px;
    width: 35%;
    text-align: center;
    border: 1px solid gray;
    display:inline-block; 
    z-index: 1;
}

#activ_shop {
	background-color: #000;
}
#activ_shop .go_to_shop {
	background-color: #000;
}
#activ_shop:hover .go_to_shop {
	background-color: #8D6C48;
}

#mozolani_shop {
	background-color: #A9A9A9;
}
#mozolani_shop .go_to_shop {
	background-color: #A9A9A9; 
}
#mozolani_shop:hover .go_to_shop {
	background-color: #8D6C48;
}

#natural_fitness {
	background-color: #801416;
}
#natural_fitness .go_to_shop {
	background-color: #801416;
}
#natural_fitness:hover .go_to_shop {
	background-color: #8D6C48;
}

.shop_box:hover {
	box-shadow: 0px 3px 10px #8D6C48;
}

.go_to_shop {
	background-color: #fff;
	z-index: 2;
	padding: 10px 0px;
}
.go_to_shop p {
	margin: 0px;
	color: #fff;
	font-size: 15px;
}

.shop_box a .go_to_shop p {
	visibility: hidden;
}

.shop_box:hover a .go_to_shop {
	visibility: visible;
	background-color: #8D6C48;
}
.shop_box:hover a .go_to_shop p {
	visibility: visible;
}

.hvr {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr:hover, .hvr:focus, .hvr:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*** CONTACT FORM ***/

#contact_form {
	background-color: #B2B2B2;
	padding-bottom: 30px;
	display: block;
	margin: 0 auto;
}

#contact_form h1 {
	padding-top: 40px;
	margin-bottom: 10px;
	color: #515151;
}
#contact_form h2 {
	color: #fff;
	font-family: 'Open Sans', Arial, Helvetica;
	font-size: 21px;
}

form {
	width:459px;
	margin:0 auto;
}

label {
	display:block;
	margin-top:10px;
	letter-spacing:2px;
	color: #515151;
	font-weight: 600;
	font-size: 17px;
}

input, textarea {
	width:439px;
	height:40px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:2px solid #808080;
	padding:5px 5px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

input:focus, textarea:focus {
		border:2px solid #97d6eb;
	}

textarea {
	height:200px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../img/peanut903.png) 220px 55px no-repeat #fff;
}

#submit {
	background:#515151;
	width:127px;
	height:38px;
	border:none;
	display: block;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	cursor:pointer;
	color: #fff;
	font-weight: 600;
}

#submit:hover {
	opacity:0.9;
}


/*** FOOTER ***/

footer {
	height: 300px;
	width: 100%;
}

footer p {
	position: relative;
	top: 150px;
	text-align: center;
	color: grey;
}


/*** BACK TO TOP***/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10;
    display: block;
    opacity: .80;
}

.back-to-top:hover,
.back-to-top:focus {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}